* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: rgba(52, 51, 51, 0.98);
}

 ul.master_navigation
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        list-style: none;
        margin: 0.5em 0;
        padding: 0;
    }

 ul.master_navigation li
    {
        display: inline-block;
        padding: 0 0.5%;
    }

 a
    {
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
    }

 a:visited
    {
        color: #99CCFF;
    }

 a:hover {
     color: #C2C2C6;
 }

@media screen and (min-width:1195px) {
    .pic {
         border: 3px solid #fff;  
         float: left;
         height: 300px;
         width: 300px;
         overflow: hidden;
  
   
         -webkit-box-shadow: 5px 5px 5px #111;
                 box-shadow: 5px 5px 5px #111;  
    }

     #morph-pic {
         float: left;
         margin-left: 90px;
         width: 30%;
         align-content:center;
     }

     #intro {
         margin: auto;
         width: 70%;
         height: 300px;
         /* text-align: center; */
     }

     h2.name {
        color:#FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 30px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 5;
     }

     p.about-me {
        color: #FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 20px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
     }

     .footer ul {
         height: 200px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.5em;
         font-weight: bold;
         list-style: none;
         margin: 0.5em 0;
         padding: 0;
         text-align: center;
    }

    .footer ul li {
        display: inline-block;
        padding: 0 0 0 3em;
    }

    .footer .bottom {
        position: relative;
        top: 150px;
    }

    /*start...*/
    /*custom font - Montserrat*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {margin: 0; padding: 0;}
/*forcing the body to take 100% height*/
html, body {min-height: 100%;}
/*a nice BG*/
body {
	//background: #544; /*fallback*/
	//background: linear-gradient(#544, #565);
}

/*Thumbnail Background*/
.thumb {
	width: 400px; height: 300px; margin: 70px auto;
	perspective: 1000px;
}
.thumb a {
	display: block; width: 100%; height: 100%;
	/*double layered BG for lighting effect*/
	background: 
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("../images/gulpjs.png");
	/*disabling the translucent black bg on the main image*/
	background-size: 0, cover;
	/*3d space for children*/
	transform-style: preserve-3d;
	transition: all 0.5s;
}
.thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
/*bottom surface */
.thumb a:after {
	/*36px high element positioned at the bottom of the image*/
	content: ''; position: absolute; left: 0; bottom: 0; 
	width: 100%; height: 36px;
	/*inherit the main BG*/
	background: inherit; background-size: cover, cover;
	/*draw the BG bottom up*/
	background-position: bottom;
	/*rotate the surface 90deg on the bottom axis*/
	transform: rotateX(90deg); transform-origin: bottom;
}
/*label style*/
.thumb a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: bold 12px/36px Montserrat; text-align: center;
	/*the rotation is a bit less than the bottom surface to avoid flickering*/
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}
/*shadow*/
.thumb a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5); 
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s; 
	/*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}
.thumb:hover a:before {
	opacity: 1;
	/*blurred effect using box shadow as filter: blur is not supported in all browsers*/
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	/*pushing the shadow down and scaling it down to size*/
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}
/*end...*/

}

@media screen and (min-width:600px) and (max-width:1195px) {
    .pic {
         border: 3px solid #fff;  
         float: left;
         height: 250px;
         width: 250px;
         overflow: hidden;
  
         -webkit-box-shadow: 4px 4px 4px #111;
                 box-shadow: 4px 4px 4px #111;  
    }

     #morph-pic {
         float: left;
         margin-left: 60px;
         width: 300px;
         align-content:center;
     }

     #intro {
         margin: auto;
         width: 500px;
         height: 450px;
     }

     h2.name {
        color:#FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 26px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 8;
     }

     p.about-me {
        color: #FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 18px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
     }

     .footer ul {
         height: 200px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.5em;
         font-weight: bold;
         list-style: none;
         margin: 0.5em 0;
         padding: 0;
         text-align: center;
    }

    .footer ul li {
        display: inline-block;
        padding: 0 0 0 3em;
    }

    .footer .bottom {
        position: relative;
        top: 20px;
    }

}

@media screen and (max-width:600px) {
    .pic {
        border: 3px solid #fff;  
        float: none;
        height: 220px;
        width: 220px;
        overflow: hidden;
     
        -webkit-box-shadow: 4px 4px 4px #111;
                box-shadow: 4px 4px 4px #111;  
    }

    #morph-pic {
        float: left;
        margin-left: 60px;
        width: 40%;
        align-content:center;
     }

    #intro {
         margin: auto;
         width: 70%;
         height: 420px;
         overflow:hidden;
     }

    h2.name {
        color:#FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 22px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 10;
     }

     p.about-me {
        color: #FFFFFF;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	    font-size: 15px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
     }

     .footer ul {
         height: 100px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.1em;
         font-weight: bold;
         list-style: none;
         margin: 0.5em 0;
         padding: 0;
         text-align: center;
    }

    .footer ul li {
        display: inline-block;
        padding: 0 0 0 1em;
    }
}

